


<h1>Welcome to Tist library website</h1>

TIST is approved by the All India Council for Technical Education (AICTE), New Delhi and the Government of Kerala and is affiliated to APJ Abdul Kalam Technological University. The college is accredited by the National Assessment and Accreditation Council (NAAC). It is one among the 16 Engineering colleges in Kerala with National Board of Accreditation (NBA) Accredited Programs in Civil Engineering, Computer Science & Engineering, Electronics & Communications Engineering & Mechanical Engineering, under the self financing category.


<h1>Motto:	We want ordinary people to do extra ordinary things.</h1>


<h2>TIST offers B Tech courses in the following disciplines:</h2>

<h3>Mechanical Engineering</h3>
<h3>Electronics and Communication Engineering</h3>
<h3>Computer Science and Engineering</h3>
<h3>Information Technology</h3>
<h3>Electrical and Electronics Engineering</h3>
<h3>Civil Engineering</h3>
<h3>Safety & Fire Engineering</h3>
<h3>Robotics & Automation</h3>

<h2>This institution offers MBA and M.Tech. Offered M.Tech courses are:</h2>

<h3>Thermal Engineering</h3>
<h3>VLSI & Embedded Systems</h3>
<h3>Wireless Technology</h3>
<h3>Power Electronics</h3>
<h3>Computer Science with Specialization in Data Security.</h3>
<h3>Construction Engineering & Management</h3>
<h3>Network Computing</h3>

